//- include _mixins
doctype html
html
  head
    include _head

  body(class=bodyClass)
    block header
      include ../particles/_header

    block content

    block footer
      include ../particles/_footer

    //LOAD SCRIPTS
    block scripts
      script(type="text/javascript" src="js/app.js")
