:root {
  --color-base-light: #fff;
  --color-base-semi-light: #ebebeb;
  --color-base-medium-light: #cecdcd;
  --color-base-medium: #b7b7b7;
  --color-base-medium-dark: #cccccc;
  --color-base-semi-dark: #434343;
  --color-base-dark: #000;

  --color-theme-accent: #ffe200;
  --color-theme-dark-accent: #faca12;

  --color-theme-alt: #2d97ff;
  --color-theme-dark-alt: #006cd6;

  --color-theme-reserve: #f07;
  --color-theme-dark-reserve: #212;
}
