html,
body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,
samp,small,strike,strong,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,
legend,button,table,caption,tbody,tfoot,thead,tr,th,td,figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  position: relative;
  min-height: 100vh;
  line-height: 1;
  color: black;
  background: white;
}

ol,
ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: 400;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

/*custom style*/
*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

span, a {display: inline-block;}

button {
  background-color: transparent;
  border: none;
  border-style: none;
}

input[type="submit"],
a,
button {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

img {
  height: auto;
  max-width: 100%;
}

textarea,
input {
  border: none;
  border-style: none;
}

i {
  font-style: italic;
}

b, strong {
  font-weight: 700;
}

.relative {
  position: relative;
}

/*FLEX*/
.flex {
  display: -ms-flexbox;
  display: flex;
}

.flex.space-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex.around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex.end {
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex.start {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex.top {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex.center {
  -ms-flex-pack: center;
  justify-content: center;
}

.flex.middle {
  -ms-flex-align: center;
  align-items: center;
}

.flex.bottom {
  -ms-flex-align: end;
  align-items: flex-end;
}

.flex.column {
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex.stretch {
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
