html,
body {
  min-height: 100vh;
  color: var(--color-base-semi-dark);
  background-color: var(--color-base-semi-light);
  font-size: calc(100vw / 192); /* font-size: 10px; */
  font-family: "RF Dewi";
}
@media (max-width: 960px) {
  html,
  body {
    font-size: calc(100vw / 192 * 2);
  }
}
@media (max-width: 960px) {
  html,
  body {
    font-size: calc(100vw / 192 * 4);
  }
}


body {
  text-decoration: none;
  color: var(--color-theme-dark-accent);
  background-color: var(--color-theme-dark-reserve);

  * {
    font-size: 2rem;
  }
}